/*make the header text take up oppsite sides of the screen*/
.question-status{
    display: flex;  
    flex-direction: row; 
    justify-content: space-between;
    list-style: none;
}

.question-status li{
    display: inline-block;
}

/*center the questions and answers section and don't take up the whole screen*/
.questions-and-answers{
    margin: auto;
    width: 75%;
    border: 1px solid black;
}

/*center the headings in the questions */ 
.questions-and-answers h2, h3{
    text-align: center;
}

/*center the button. could do this and the above in the questions-and-answers class,
but then the li would be centered, which doesn't look good*/
.questions-and-answers button{
    display: block;
    margin: auto;
}